<div class="row">
    <div class="col-md-6">
        <div style="height: 200px;background-image: url('https://images.unsplash.com/photo-1518349619113-03114f06ac3a?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=750&q=80');
        	background-position:center;
        	background-repeat:no-repeat;
        	background-size:cover;
            position: relative" class="card">
            <div style="background-color: rgba(0, 0, 0, 0.445); position: absolute; width: 100%; height: 100%">
        
            </div>
            <a style="position: absolute; width: 100%; height: 100%; display: flex; align-items: center; justify-content: center;
                    text-decoration: none; color: inherit" href="/admin/categories">
                <h3 style="color: white">Quản lý danh mục</h3>
            </a>
        </div>
    </div>
    <div class="col-md-6">
        <div style="height: 200px;background-image: url('https://images.unsplash.com/photo-1485376026565-375e3f216bbd?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=750&q=80');
        	background-position:center;
        	background-repeat:no-repeat;
        	background-size:cover;
            position: relative" class="card">
            <div style="background-color: rgba(0, 0, 0, 0.445); position: absolute; width: 100%; height: 100%">
        
            </div>
            <a style="position: absolute; width: 100%; height: 100%; display: flex; align-items: center; justify-content: center;
                    text-decoration: none; color: inherit" href="javascript:;">
                <h3 style="color: white">Quản lý tag</h3>
            </a>
        </div>
    </div>
</div>

<div class="row mt-3">
    <div class="col-md-6">
        <div style="height: 200px;background-image: url('https://images.unsplash.com/photo-1499725144476-a35e60e41ab8?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=810&q=80');
	background-position:center;
	background-repeat:no-repeat;
	background-size:cover;
    position: relative" class="card">
            <div style="background-color: rgba(0, 0, 0, 0.445); position: absolute; width: 100%; height: 100%">

            </div>
            <a style="position: absolute; width: 100%; height: 100%; display: flex; align-items: center; justify-content: center;
            text-decoration: none; color: inherit" href="/admin/post/">
                <h3 style="color: white">Quản lý bài viết</h3>
            </a>
        </div>
    </div>
    <div class="col-md-6">
        <div style="height: 200px;background-image: url('https://images.unsplash.com/photo-1529539795054-3c162aab037a?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=750&q=80');
	background-position:center;
	background-repeat:no-repeat;
	background-size:cover;
    position: relative" class="card">
            <div style="background-color: rgba(0, 0, 0, 0.445); position: absolute; width: 100%; height: 100%">

            </div>
            <a style="position: absolute; width: 100%; height: 100%; display: flex; align-items: center; justify-content: center;
            text-decoration: none; color: inherit" href="/admin/accounts">
                <h3 style="color: white">Quản lý tài khoản</h3>
            </a>
        </div>
    </div>
</div>

<div class="row mt-3">
    <div class="col-md-6">
        <div style="height: 200px;background-image: url('https://images.unsplash.com/photo-1516798600250-395dc1e37e17?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=750&q=80');
	background-position:center;
	background-repeat:no-repeat;
	background-size:cover;
    position: relative" class="card">
            <div style="background-color: rgba(0, 0, 0, 0.445); position: absolute; width: 100%; height: 100%">

            </div>
            <a style="position: absolute; width: 100%; height: 100%; display: flex; align-items: center; justify-content: center;
            text-decoration: none; color: inherit" href="/admin/accounts/giaHan">
                <h3 style="color: white">Gia hạn cho đọc giả</h3>
            </a>
        </div>
    </div>
    <div class="col-md-6">
        <div style="height: 200px;background-image: url('https://images.unsplash.com/photo-1519389950473-47ba0277781c?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=750&q=80');
	background-position:center;
	background-repeat:no-repeat;
	background-size:cover;
    position: relative" class="card">
            <div style="background-color: rgba(0, 0, 0, 0.445); position: absolute; width: 100%; height: 100%">

            </div>
            <a style="position: absolute; width: 100%; height: 100%; display: flex; align-items: center; justify-content: center;
            text-decoration: none; color: inherit" href="/admin/role">
                <h3 style="color: white">Phân công chuyên mục</h3>
            </a>
        </div>
    </div>
</div>