.content-widget{
    padding-bottom: 30px;
    padding-top: 7rem;
}
.container .widget .tabnav li a{
    text-decoration: none;
    
}
 .container .widget .tabnav li h3{
     padding-top: 13px;
 }
 .container .widget .tabnav li h3 a{
    color: #fff;
    
}
 .container .widget .tabnav li{
    background-color: #15c6d6;
    height: 50px;
    
}
 .container .widget .tabnav li:hover{
    background-color: #0e5b60;
}

table{
  width:100%;
  border-spacing:0px 3px;
  border-collapse: separate;
}



.tbl-header{
  background-color: #15c6d6;
 }
.tbl-content{
  height:567px;
  overflow-x:auto;
  margin-top: 0px;
  border: 1px solid #0e5b60;
}

th{
  padding: 15px 10px;
  text-align: left;
  font-weight: 500;
  font-size: 14px;
  color: rgb(255, 255, 255);
  background: #0e5b60;
  height: 20px;
}
td{
  padding: 12px;
  text-align: left;
  vertical-align:middle;
  /* font-weight: 300; */
  font-size: 15px;
  color: #000;
  border-bottom: solid 2px #0e5b60;
}

/* tbody tr{
  box-shadow: 0px 0px 24px -6px #0e5b60;

} */



tbody tr:hover{
  background: #d2eff1;
  cursor: pointer;
  text-decoration: underline;
}