/* :: 4.0 Header Area */

h1, h2, h3, h4, h5, h6 {
    color: #152535;
    line-height: 1.3;
    font-weight: 700;
}

p {
    color: #828282;
    line-height: 2;
    font-weight: 400;
}

a, a:hover, a:focus {
    -webkit-transition-duration: 500ms;
    transition-duration: 500ms;
    text-decoration: none;
    outline: 0 solid transparent;
    color: white !important;
    font-weight: 500;
    color: #828282;
}

ul, ol {
    margin: 0 !important;
    padding: 0!important;
}

ul li, ol li {
    list-style: none;
}

img {
    height: auto;
    max-width: 100%;
}

html {
    font-size: 62.5% !important;
}

/* ======================================= */

.header-area {
    position: relative;
    z-index: 100;
    width: 100%;
}

.header-area .top-header-area {
    width: 100%;
    height: 6rem;
    background-color: #711a42;
    position: relative;
    z-index: 1;
}

/*======================== .logo-category */

.header-area .top-header-area .top-header-content .logo-category_ico .logo {
    width: 6rem;
    height: 6rem;
    font-size: 1.2rem;
    border-radius: 50%;
    overflow: hidden;
}

.header-area .top-header-area .top-header-content .logo-category_ico .category_ico:before, .header-area .top-header-area .top-header-content .logo-category_ico .category_ico:after {
    content: '';
    display: inline-block;
    width: 0.1rem;
    height: 6rem;
    margin-right: 1rem;
    background-color: gray;
}

.header-area .top-header-area .top-header-content .logo-category_ico .category_ico:after {
    content: '';
    display: inline-block;
    width: 0.1rem;
    height: 6rem;
    margin-left: 1rem;
    background-color: gray;
}

.header-area .top-header-area .top-header-content .logo-category_ico .category_ico a {
    color: white;
}

.header-area .top-header-area .top-header-content .logo-category_ico .category_ico .dropdown {
    display: none;
    position: absolute;
    background-color: #711a42;
}

.header-area .top-header-area .top-header-content .logo-category_ico .category_ico:hover .dropdown {
    display: inline-block;
    position: absolute;
    top: 60px;
    width: 150px;
    background-color: #711a42;
}

.header-area .top-header-area .top-header-content .logo-category_ico .category_ico .dropdown .list-item {
    margin-top: 2rem;
}

.header-area .top-header-area .top-header-content .logo-category_ico .category_ico .dropdown .list-item::before {
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    content: "\f054";
    margin: 0 1.5rem 0 0.5rem;
}

.header-area .top-header-area .top-header-content .logo-category_ico .category_ico .fa-bars {
    font-size: 2.5rem;
    color: white;
    padding-left: 1rem;
}

/*======================== category menu bar */

.header-area .top-header-area .top-header-content .category {
    font-size: 1.2rem;
    font-weight: bold;
    position: relative;
}

.header-area .top-header-area .top-header-content .category .list .list-item {
    list-style: none;
    margin: 0 1rem;
    padding: 2.1rem 0

}
.header-area .top-header-area .top-header-content .category .list .list-item:hover{
    
}
.header-area .top-header-area .top-header-content .category .list .list-item:hover .dropdown{
    display: inline-block;

}

.header-area .top-header-area .top-header-content .category .list .list-item .dropdown {
    display: none;
    position: absolute;
    top: 60px;
    width: 150px;
    background-color: #711a42;
    font-size: 1rem;

}
.header-area .top-header-area .top-header-content .category .list .list-item .dropdown .list-item_sub {
    margin-top: 2rem;

}
.header-area .top-header-area .top-header-content .category .list .list-item .dropdown .list-item_sub::before {
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    content: "\f054";
    margin: 0 1.5rem 0 0.5rem;

}
.header-area .top-header-area .login-search-area {
    position: relative;
    z-index: 1;
}

.header-area .top-header-area .login-search-area .login a {
    display: inline-block;
    padding: 0 10px;
    color: #fff;
}

.header-area .top-header-area .login-search-area .login .fa-user {
    font-size: 3rem;
}

.header-area .top-header-area .login-search-area .search-form form {
    width: 150px;
    height: 40px;
    position: relative;
    z-index: 2;
    margin-left: 50px;
}

.header-area .top-header-area .login-search-area .search-form form input {
    width: 100%;
    height: 100%;
    border: 1px solid #fff;
    border-radius: 5px;
    background-color: transparent;
    padding: 0 15px;
    font-size: 12px;
    font-style: italic;
    color: #fff;
}

.header-area .top-header-area .login-search-area .search-form form input.form-control {
    box-shadow: none;
}

.header-area .top-header-area .login-search-area .search-form form button {
    width: 50px;
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 10;
    border: none;
    background-color: transparent;
    color: #fff;
    cursor: pointer;
    outline: none;
}

.header-area .top-header-area .login-search-area .search-form form .form-control::-webkit-input-placeholder {
    color: #fff;
    opacity: 1;
}

.header-area .top-header-area .login-search-area .search-form form .form-control::-moz-placeholder {
    color: #fff;
    opacity: 1;
}

.header-area .top-header-area .login-search-area .search-form form .form-control:-ms-input-placeholder {
    color: #fff;
    opacity: 1;
}

.header-area .top-header-area .login-search-area .search-form form .form-control::-ms-input-placeholder {
    color: #fff;
    opacity: 1;
}

.header-area .top-header-area .login-search-area .search-form form .form-control::placeholder {
    color: #fff;
    opacity: 1;
}

