/* :: 4.0 Header Area */
.no-gutters {
  padding: 0 !important;
}
.no-gutters-right {
  padding-right: 0 !important;
}
.no-gutters-left {
  padding-left: 0 !important;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  color: #152535;
  line-height: 1.3;
  font-weight: 700;
}
p {
  color: #828282;
  line-height: 2;
  font-weight: 400;
}
a,
a:hover,
a:focus {
  -webkit-transition-duration: 500ms;
  transition-duration: 500ms;
  text-decoration: none;
  outline: 0 solid transparent;
  color: white;
  font-weight: 500;
  color: #828282;
}
ul,
ol {
  margin: 0 !important;
  padding: 0 !important;
}
ul li,
ol li {
  list-style: none;
}
img {
  height: auto;
  max-width: 100%;
}
html {
  font-size: 62.5% !important;
}
.header-area {
  position: relative;
  z-index: 100;
  width: 100%;
}
.header-area .top-header-area {
  width: 100%;
  height: 6rem;
  background-color: #005073;
  position: fixed;
  z-index: 1;
}
.header-area .top-header-area .login-search-area {
  position: relative;
  z-index: 1;
}
.header-area .top-header-area .login-search-area .search-form form {
  width: 150px;
  height: 40px;
  position: relative;
  z-index: 2;
  margin-left: 50px;
}
.header-area .top-header-area .login-search-area .search-form form button {
  width: 50px;
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 10;
  border: none;
  background-color: transparent;
  color: #fff;
  cursor: pointer;
  outline: none;
}
.header-area .top-header-area .login-search-area .search-form form input:focus
{
  background-color: #58bce8;
}
.header-area .top-header-area .login-search-area .search-form form input {
  width: 100%;
  height: 100%;
  border: 1px solid #fff;
  border-radius: 5px;
  background-color: transparent;
  padding: 0 15px;
  font-size: 12px;
  font-style: italic;
  color: #fff;
}
.header-area .top-header-area .login-search-area .login a {
  display: inline-block;
  padding: 0 10px;
  color: #fff;
}
.header-area .top-header-area .login-search-area .login .fa-user {
  font-size: 3rem;
}
.header-area .top-header-area .top-header-content .category {
  font-size: 1.2rem;
  font-weight: bold;
  position: relative;
}
.header-area .top-header-area .top-header-content .category .list .list-item {
  list-style: none;
  margin: 0 1rem;
  padding: 2.1rem 0;
}
.header-area .top-header-area .top-header-content .category .list .list-item .dropdown {
  display: none;
  position: absolute;
  top: 60px;
  width: 150px;
  background-color:#005073;
  font-size: 1rem;
}
.header-area .top-header-area .top-header-content .category .list .list-item .dropdown .list-item_sub {
  margin-top: 2rem;
}
.header-area .top-header-area .top-header-content .category .list .list-item .dropdown .list-item_sub::before {
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  content: "\f054";
  margin: 0 1.5rem 0 0.5rem;
}
.header-area .top-header-area .top-header-content .category .list .list-item:hover .dropdown {
  display: inline-block;
}
.header-area .top-header-area .top-header-content .category .list a {
  color: white;
}

.header-area .top-header-area .top-header-content .logo-category_ico .logo{
  margin-right: 10px;
}
.header-area .top-header-area .top-header-content .logo-category_ico .logo img{
    border-radius: 50%;
}

.header-area .top-header-area .top-header-content .logo-category_ico .category_ico{
  text-align: center;
}
.header-area .top-header-area .top-header-content .logo-category_ico .category_ico > .dropdown{
  text-align: left;
}
.header-area .top-header-area .top-header-content .logo-category_ico .category_ico i{
  margin-right: 10px;
  font-size: 25px;
}

.header-area .top-header-area .top-header-content .logo-category_ico .category_ico .fa-bar {
  font-size: 2.5rem;
  color: white;
  padding-left: 1rem;
}
.header-area .top-header-area .top-header-content .logo-category_ico .category_ico::before,
.header-area .top-header-area .top-header-content .logo-category_ico .category_ico::after {
  content: '';
  display: inline-block;
  width: 0.1rem;
  height: 6rem;
  margin-right: 1rem;
  background-color: gray;
}
.header-area .top-header-area .top-header-content .logo-category_ico .category_ico:hover .dropdown {
  display: inline-block;
  position: absolute;
  top: 60px;
  width: 150px;
  background-color: #005073;
}
.header-area .top-header-area .top-header-content .logo-category_ico .category_ico .dropdown {
  display: none;
  position: absolute;
  background-color:#005073;
}
.header-area .top-header-area .top-header-content .logo-category_ico .category_ico .dropdown .list-item {
  margin-top: 2rem;
}
.header-area .top-header-area .top-header-content .logo-category_ico .category_ico .dropdown .list-item::before {
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  content: "\f054";
  margin: 0 1.5rem 0 0.5rem;
}
.header-area .top-header-area .top-header-content .logo-category_ico .category_ico a {
  color: white;
}
.header-area .top-header-area .top-header-content .logo-category_ico .logo {
  width: 5rem;
  font-size: 1.2rem;
}

/* ###### CONTENT ##### */
.content{
  padding-bottom: 100px;
  padding-top: 7rem;
}
.content .middle_news .hight_light_news .block_highlight_news .title_carourel {
  position: absolute;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.637);
  padding: 2rem;
  color: white;
  font-weight: bold;
  font-size: 1rem;
  width: 100%;
}
.content .middle_news .hight_light_news .title_hight_light a {
  background-color: #005073;
  display: inline-block;
  padding: 0.5rem 3rem;
  color: white;
  font-weight: bold;
  border-radius: 0 20rem 0 0;
  margin: 0.5rem 0;
  font-size: 1.2rem;
}
.content .middle_news .business_news .title_business_news a {
  background-color: #005073;
  display: inline-block;
  padding: 0.5rem 3rem;
  color: white;
  font-weight: bold;
  border-radius: 0 20rem 0 0;
  margin: 0.5rem 0;
  font-size: 1.2rem;
}
.content .middle_news .business_news .block_business_news .title_carourel {
  position: absolute;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.637);
  padding: 2rem;
  color: white;
  font-weight: bold;
  font-size: 1rem;
  width: 100%;
}
.content .middle_news .business_news .sub_business_news a {
  color: black;
  font-size: 1.3rem;
  margin: 0.5rem;
  display: block;
}
.content .middle_news .business_news .sub_business_news a:nth-last-child(2n)::before {
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  content: "\f03d";
  margin-right: 0.5rem;
}
.content .middle_news .business_news .sub_business_news a:nth-last-child(2n+1)::before {
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  content: "\f27a";
  margin-right: 0.5rem;
}
.content .middle_news .sports_news .title_sports_news a {
  background-color: #005073;
  display: inline-block;
  padding: 0.5rem 3rem;
  color: white;
  font-weight: bold;
  border-radius: 0 20rem 0 0;
  margin: 0.5rem 0;
  font-size: 1.2rem;
}
.content .middle_news .sports_news .block_sports_news .title_carousel {
  position: absolute;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.637);
  padding: 2rem;
  color: white;
  font-weight: bold;
  font-size: 1rem;
  width: 100%;
}
.content .middle_news .sports_news .sub_sport_news a {
  color: black;
  font-size: 1.3rem;
  margin: 0.5rem;
  display: block;
}
.content .middle_news .sports_news .sub_sport_news a:nth-last-child(2n)::before {
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  content: "\f03d";
  margin-right: 0.5rem;
}
.content .middle_news .sports_news .sub_sport_news a:nth-last-child(2n+1)::before {
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  content: "\f27a";
  margin-right: 0.5rem;
}
.content .middle_news .travel_news .title_travel_news a {
  background-color: #005073;
  display: inline-block;
  padding: 0.5rem 3rem;
  color: white;
  font-weight: bold;
  border-radius: 0 20rem 0 0;
  margin: 0.5rem 0;
  font-size: 1.2rem;
}
.content .middle_news .travel_news .block_travel_news .title_carourel {
  position: absolute;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.637);
  padding: 2rem;
  color: white;
  font-weight: bold;
  font-size: 1rem;
  width: 100%;
}
.content .middle_news .travel_news .sub_travel_news a {
  color: black;
  font-size: 1.3rem;
  margin: 0.5rem;
  display: block;
}
.content .middle_news .travel_news .sub_travel_news a:nth-last-child(2n)::before {
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  content: "\f03d";
  margin-right: 0.5rem;
}
.content .middle_news .travel_news .sub_travel_news a:nth-last-child(2n+1)::before {
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  content: "\f27a";
  margin-right: 0.5rem;
}
.content .middle_news .education_news .title_education_news a {
  background-color: #005073;
  display: inline-block;
  padding: 0.5rem 3rem;
  color: white;
  font-weight: bold;
  border-radius: 0 20rem 0 0;
  margin: 0.5rem 0;
  font-size: 1.2rem;
}
.content .middle_news .education_news .block_education_news .title_carourel {
  position: absolute;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.637);
  padding: 2rem;
  color: white;
  font-weight: bold;
  font-size: 1rem;
  width: 100%;
}
.content .middle_news .education_news .sub_education_news a {
  color: black;
  font-size: 1.3rem;
  margin: 0.5rem;
  display: block;
}
.content .middle_news .education_news .sub_education_news a:nth-last-child(2n)::before {
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  content: "\f03d";
  margin-right: 0.5rem;
}
.content .middle_news .education_news .sub_education_news a:nth-last-child(2n+1)::before {
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  content: "\f27a";
  margin-right: 0.5rem;
}
.content .middle_news .technology_news .title_technology_news a {
  background-color: #005073;
  display: inline-block;
  padding: 0.5rem 3rem;
  color: white;
  font-weight: bold;
  border-radius: 0 20rem 0 0;
  margin: 0.5rem 0;
  font-size: 1.2rem;
}
.content .middle_news .technology_news .block_technology_news .title_carourel {
  position: absolute;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.637);
  padding: 2rem;
  color: white;
  font-weight: bold;
  font-size: 1rem;
  width: 100%;
}
.content .middle_news .technology_news .sub_technology_news a {
  color: black;
  font-size: 1.3rem;
  margin: 0.5rem;
  display: block;
}
.content .middle_news .technology_news .sub_technology_news a:nth-last-child(2n)::before {
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  content: "\f03d";
  margin-right: 0.5rem;
}
.content .middle_news .technology_news .sub_technology_news a:nth-last-child(2n+1)::before {
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  content: "\f27a";
  margin-right: 0.5rem;
}
.content .middle_news .entertainment_news .title_entertainment_news a {
  background-color: #0C5B7D;
  display: inline-block;
  padding: 0.5rem 3rem;
  color: white;
  font-weight: bold;
  border-radius: 0 20rem 0 0;
  margin: 0.5rem 0;
  font-size: 1.2rem;
}
.content .middle_news .entertainment_news .block_entertainment_news .title_carourel {
  position: absolute;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.637);
  padding: 2rem;
  color: white;
  font-weight: bold;
  font-size: 1rem;
  width: 100%;
}
.content .middle_news .entertainment_news .sub_entertainment_news a {
  color: black;
  font-size: 1.3rem;
  margin: 0.5rem;
  display: block;
}
.content .middle_news .entertainment_news .sub_entertainment_news a:nth-last-child(2n)::before {
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  content: "\f03d";
  margin-right: 0.5rem;
}
.content .middle_news .entertainment_news .sub_entertainment_news a:nth-last-child(2n+1)::before {
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  content: "\f27a";
  margin-right: 0.5rem;
}
.left_news .top_10_category {
  width: 100%;
  height: 100vh;
}
.left_news .top_10_category .title_top_10_category {
  color: red;
  font-weight: bold;
  font-size: 1.5rem;
}
.left_news .top_10_category .item_top_10_category {
  margin: 2rem 0;
}
.left_news .top_10_category .item_top_10_category .desc {
  margin-left: 0.5rem;
}
.left_news .top_10_category .item_top_10_category .desc .title {
  font-size: 1.5rem;
}
.left_news .top_10_category .item_top_10_category .desc .quote {
  margin-top: 1.5rem;
  font-size: 1.3rem;
}
/* Ben Phai */
.right_news .top_10_views {
  width: 100%;
  height: 100vh;
}
.right_news .top_10_views .title_top_10_views {
  color: red;
  font-weight: bold;
  font-size: 1.5rem;
}
.right_news .top_10_views .item_news_top_10 {
  display: flex;
  margin: 2rem 0;
}
.right_news .top_10_views .item_news_top_10 img {
  width: 100px;
  height: 100px;
}
.right_news .top_10_views .item_news_top_10 .desc {
  margin-left: 0.5rem;
}
.right_news .top_10_views .item_news_top_10 .desc .title {
  font-size: 1.5rem;
}
.right_news .top_10_views .item_news_top_10 .desc .quote {
  margin-top: 1.5rem;
  font-size: 1.5rem;
}
/*----------------Hien thi cua so dang nhap----------------------*/

/* Full-width input fields */
.modal input[type=text], input[type=password] {
    width: 90%;
    padding: 12px 20px;
    margin: 8px 26px;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-sizing: border-box;
	  font-size:16px;
}

/* Set a style for all buttons */
.modal button {
    background-color: #0C5B7D;
    color: white;
    padding: 14px 20px;
    margin: 8px 26px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    width: 90%;
	  font-size:20px;
}
.modal button:hover {
    opacity: 0.8;
}

/* Center the image and position the close button */
.modal .imgcontainer {
    text-align: center;
    margin: 24px 0 12px 0;
    position: relative;
}
.modal .avatar {
    width: 200px;
	height:200px;
    border-radius: 50%;
}

/* The Modal (background) */
.modal {
	display:none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0,0,0,0.4);
}

/* Modal Content Box */
.modal .modal-content {
    background-color: #fefefe;
    margin: 4% auto 15% auto;
    border: 1px solid #888;
    width: 40%; 
	padding-bottom: 30px;
}

/* The Close Button (x) */
.modal .close {
    position: absolute;
    right: 25px;
    top: 0;
    color: #000;
    font-size: 35px;
    font-weight: bold;
}
.modal .close:hover,.close:focus {
    color: red;
    cursor: pointer;
}

/* Add Zoom Animation */
.modal .animate {
    animation: zoom 0.6s
}
@keyframes zoom {
    from {transform: scale(0)} 
    to {transform: scale(1)}
}
/*---------------------------------------------------------------*/
/*################################### Footer ################################# */
.footer-bottom {
  background: #0C5B7D;
  margin:0 auto;
  width:100%;
  color: #959595;
  padding: 2px 0;
  overflow: hidden;
  display: block;
  border-top: 1px solid #5F5F5F;
  bottom: 0;
  position: relative;
  text-align: center;
  font-size: 14px;
}
.footer-bottom a {
  color : #ccc;
}
.footer-bottom a:hover {
  color : #FFF;
}