.header-area .top-header-area .login-search-area .login a img{
  width: 40px;
  border-radius: 50%;
}

.content-widget{
    padding-bottom: 30px;
    padding-top: 3rem;
}
.container .widget .tabnav li a{
    text-decoration: none;
    
}
 .container .widget .tabnav li h3{
     padding-top: 13px;
 }
 .container .widget .tabnav li h3 a{
    color: #fff;
    
}


table{
  width:100%;
  border-spacing:0px 3px;
  border-collapse: separate;
}



.tbl-header{
  background-color: #15c6d6;
 }
.tbl-content{
  height:567px;
  overflow-x:auto;
  margin-top: 0px;
  border: 1px solid #0e5b60;
}

th{
  padding: 15px 10px;
  text-align: left;
  font-weight: 500;
  font-size: 14px;
  color: rgb(255, 255, 255);
  background: #0e5b60;
  height: 20px;
}
td{
  padding: 12px;
  text-align: left;
  vertical-align:middle;
  /* font-weight: 300; */
  font-size: 15px;
  color: #000;
  border-bottom: solid 2px #0e5b60;
}

/* tbody tr{
  box-shadow: 0px 0px 24px -6px #0e5b60;

} */



tbody tr:hover{
  background: #d2eff1;
  cursor: pointer;
  text-decoration: underline;
}

/* Modal */

/* Full-width input fields */

.modal-hieuchinh {
  display:none;
  position: fixed;
  z-index: 1;
  left: 40%;
  top: 40%;
  width: 260px;
  height: 300px;
  overflow: auto;
  background-color: rgb(186, 232, 240);
  font-size: 18px;
}

.modal-hieuchinh .modal-hieuchinh-content {
    background-color: #fefefe;
    margin: 4% auto 15% auto;
    border: 1px solid #888;
    width: 30%; 
}

.modal-hieuchinh .close {
    position: absolute;
    right: 0;
    top: 0;
    color: #000;
    font-size: 35px;
    font-weight: bold;
}
.modal-hieuchinh .close:hover,.close:focus {
    color: red;
    cursor: pointer;
}

.modal-hieuchinh .animate {
    animation: zoom 0.6s
}

/* tu choi modal */

.modal-tuchoi {
  display:none;
  position: fixed;
  z-index: 1;
  left: 30%;
  top: 30%;
  width: 400px;
  height: 360px;
  overflow: auto;
  background-color: rgb(186, 232, 240);
  font-size: 18px;
}

.modal-tuchoi .modal-tuchoi-content {
    background-color: #fefefe;
    margin: 4% auto 15% auto;
    border: 1px solid #888;
    width: 30%; 
}

.modal-tuchoi .close {
    position: absolute;
    right: 0;
    top: 0;
    color: #000;
    font-size: 35px;
    font-weight: bold;
}
.modal-tuchoi .close:hover,.close:focus {
    color: red;
    cursor: pointer;
}

.modal-tuchoi .animate {
    animation: zoom 0.6s
}