<div class="card">
    <div class="card-header text-center">
        Cập nhật mật khẩu
    </div>
    <div class="card-body text-center">
        <h4 style="color: red">Mật khẩu không khớp!</h4>
        <h5 style="color: red">Vui lòng kiểm tra lại ... </h5>
    </div>
</div>