<div class="card shadow">
    <div class="card-header text-center">
        <b>Phân quyền cho biên tập viên</b>
    </div>
    <div class="card-body text-center">
       <h3 style="color: red">Phân quyền thất bại!</h3>
       <p>Vui lòng kiểm tra lại các trường trên!</p>
    </div>
</div>