<div class="card shadow">
    <div class="card-header text-center">
        <b>Gia hạn premium cho đọc giả</b>
    </div>
    <div class="card-body text-center">
       <h3 style="color: green">Gia hạn thành công!</h3>
       <h4>Tài khoản có giá trị đến {{toDate}}</h4>
    </div>
</div>