<div class="card shadow">
    <div class="card-header text-center">
        <b>Phân quyền cho biên tập viên</b>
    </div>
    <div class="card-body text-center">
       <h3 style="color: green">Phân quyền thành công!</h3>
    </div>
</div>