<div class="card shadow">
    <div class="card-header">
        New Tag
    </div>
    <div class="card-body">
        <form method="POST">

            <div class="form-group">
                
                <label for="name">Tên Tag</label>
                <input required autofocus type="text" class="form-control" id="name" name="name" placeholder="Enter Tag Name">
            </div>
            <a class="btn btn-primary" href="/admin/tags" role="button">
            <i class="fa fa-backward" aria-hidden="true"></i>
            List
            </a>
            <button type="submit" class="btn btn-success">
                <i class="fa fa-check" aria-hidden="true"></i>
                Save
            </button>
        </form>

    </div>
</div>

