<div class="card shadow">
    <h1 class="card-header">
        Quản lý Tag
    </h1>
    
    <table class="table table-hover">
        <thead>
            <tr>
                <th class="text-center" scope="col">#</th>
                <th scope="col">Tên Tag</th>
                <th scope="col" class="text-right">
                    <a class="btn btn-outline-success" href="/admin/tags/add" role="button">
                        <i class="fa fa-plus" aria-hidden="true"></i>
                        Thêm tag
                    </a>
                </th>
            </tr>
        </thead>
        <tbody >
            
            {{#each this.tags}}
            <tr >
                <th class="text-center" scope="row">{{id}}</th>
                <td>{{name}}</td>
                <td class="text-right">
                    <a class="btn btn-primary btn-sm" href="/admin/tags/edit/{{id}}" role="button">
                        <i class="fa fa-pencil" aria-hidden="true"></i>
                    </a>
                </td>
            </tr>
            {{/each}}

        </tbody>
    </table>
</div>