<div class="card">
    <div class="card-header text-center">
        Cập nhật mật khẩu
    </div>
    <div class="card-body">
        <form action="" method="POST">
            <div class="form-group">
                <label for="txtOldPassword">Mật khẩu cũ</label>
                <input required type="password" class="form-control" id="txtOldPassword" name="oldPassword">
            </div>
            <div class="form-group">
                <label for="txtNewPassword">Mật khẩu mới</label>
                <input required type="password" class="form-control" id="txtNewPassword" name="newPassword">
            </div>
            <div class="form-group">
                <label for="txtConfirm">Xác nhận lại</label>
                <input required type="password" class="form-control" id="txtConfirm" name="confirm">
            </div>
            <div class="card-footer text-right">
                <button type="submit" class="btn btn-lg btn-success btn-block">
                    <i class="fa fa-check" aria-hidden="true"></i>
                    Đổi mật khẩu
                </button>
            </div>
        </form>
    </div>
    
</div>