<div class="card">
    <div class="card-header text-center">
        Cập nhật mật khẩu
    </div>
    <div class="card-body text-center">
        <h4 style="color: green">Cập nhật mật khẩu thành công!</h4>
        <h5 style="color: green">Đăng nhập lại để tiếp tục ... </h5>
    </div>
    <div class="card-footer text-right">
        <div class="row" style="justify-content: center">
            <a name="" id="" class="btn btn-primary" href="/account/login" role="button">
                <i class="fa fa-sign-in" aria-hidden="true"></i>
                Đăng nhập
            </a>
        </div>
    </div>
</div>