<div class="card">
    <div class="card-header text-center">
        Cập nhật mật khẩu
    </div>
    <div class="card-body text-center">
        <h4 style="color: red">Mật khẩu cũ không đúng!</h4>
        <h5 style="color: red">Vui lòng kiểm tra lại ... </h5>
    </div>
    <div class="card-footer text-right">
        <div class="row" style="justify-content: center">
            <a name="" id="" class="btn btn-primary" href="/account/profile/changepassword" role="button">
                <i class="fa fa-backward" aria-hidden="true"></i>
                Back
            </a>
        </div>
    </div>
</div>