<div class="card shadow">
    <div class="card-header text-center">
        Thông báo
    </div>
    <div class="card-body text-center">
        <h4 style="color: red">Tài khoản của bạn đã hết hạn!</h4>
        <h6>Thời hạn tài của bạn là ngày: {{myDatetime authUser.date_update}}</h6>
        <h6>Vui lòng liên hệ quản trị viên của bạn để gia hạn tài khoản ... </h6>
    </div>
    <div class="card-footer text-right">
        <div class="row" style="justify-content: center">
            <a name="" id="" class="btn btn-primary" href="/" role="button">
                <i class="fa fa-sign-in" aria-hidden="true"></i>
                Quay lại
            </a>
        </div>
    </div>
</div>